.divMyProjects {
  // font-family: "DM Serif Text";
  font-family: "arial";
  font-size: 16px;

  h1,h2 {
    color: #000000;
    border-radius: 40px 0px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2901960784);
    width: 100%;
    box-shadow: 4px 4px 10px gray;
    background: #adc6eb;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    color: #175bbd;
    border-bottom: 4px solid black;
  }

  .title {
    font-size: 45px;
    color: #000000;
    font-family: "Montserrat";
    font-weight: 700;
  }

  .projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    gap: 20px;
  }
}

/* Responsive styles for small devices */
@media (max-width: 767.98px) {
  .divMyProjects {
    .projectCards {
      flex-direction: column;
      align-content: center;

      .projectCard {
        width: 90%;
      }
    }
  }
}
