.divMyProjects {
  font-family: "DM Serif Text";
  font-size: 18px;

  // h2 {
  //   font-weight: bold;
  //   font-size: 30px;
  // }

  h2 {
    color: #000000;
    border: 3px solid #0d6efd;
    border-radius: 40px 0px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2901960784);
    width: 100%;
    box-shadow: 4px 4px 10px gray;
    background: #adc6eb;
    text-align: center;
  }

  // h3 {
  //   font-weight: bold;
  //   font-size: 20px;
  //   color: #175bbd;
  //   border: 3px solid #0d6efd;
  //   border-radius: 40px 0px;
  // }
  h3 {
    font-weight: bold;
    font-size: 20px;
    color: #175bbd;
    border-bottom: 4px solid black;
  }

  .title {
    font-size: 45px;
    color: #000000;
    font-family: "Montserrat";
    font-weight: 700;
  }

  .projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    gap: 20px;

    .projectCard {
      display: flex;
      flex-direction: column;
      // background-color: #dad8d4;
      // background: linear-gradient(to left, #175bbb70, #e8ecee);
      // background: linear-gradient(to left, rgb(139 168 209 / 44%), #e8ecee);
      background: linear-gradient(
        60deg,
        rgba(114, 101, 89, 0.6),
        rgba(114, 101, 89, 0.5019607843) 0,
        #faf9f9,
        rgba(114, 101, 89, 0.5019607843) 90%,
        rgba(114, 101, 89, 0.6)
      );
      width: 48%;
      text-align: start;
      border-radius: 15px;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
      gap: 15px;
      padding: 15px;

      .projectButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        .projectButton {
          width: 110px;
        }
      }
    }
  }
}

/* Responsive styles for small devices */
@media (max-width: 767.98px) {
  .projectCards {
    flex-direction: column;
    align-content: center;
  }
}
