.divTitle {
  // height: 100px;
  max-width: 80%;

  .divTitle_title {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    line-height: 40px;
  }

  .divTitle_location {
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    line-height: 50px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .divTitle {
    .divTitle_title {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    .divTitle_location {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
    }
  }
}
