.divFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  padding: 20px;
  gap: 20px;

  .divFooter1 {
    display: flex;
    flex-direction: row;
    // background-color: pink;
    width: 100%;
    justify-content: space-around;

    .circlePicture {
      width: 300px;
      height: 300px;
      border: 3px solid white;
    }

    .navbar__btn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-evenly;
      height: 199px;
      font-weight: bold;
      /* background: pink; */

      .navbar__link {
        color: white;
        text-decoration: none;
        font-size: 24px;

        &--underline {
          text-decoration-line: underline;
        }
      }
    }

    .socialNetwork {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      padding: 18px;
      border: 3px solid white;

      .buttonLinkedIn {
        border: none;
        background: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        &:focus {
          transform: scale(1.1);
        }
      }

      span {
        color: white;
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .divFooter2 {
    // background-color: blue;
    width: 100%;

    .divFooter__copyright {
      color: white;
      font-size: 24px;
    }
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .divFooter {
    justify-content: center;
    gap: 10px;

    .divFooter1 {
      flex-direction: column;
      align-items: center;

      .navbar__btn {
        height: 70px;
        .navbar__link {
          font-size: 10px;
        }
      }

      .socialNetwork {
        width: 30%;
        gap: 10px;

        .buttonLinkedIn img{
          width: 100%;
        }

        span {
          font-size: 12px;
        }

        button {
          font-size: 13px;
        }
      }

      .circlePicture {
        display: none;
      }
    }

    .divFooter2 {
      .divFooter__copyright {
        font-size: 12px;
        width: 130px;
      }
    }
  }
}
