.divBanner {
  position: relative; /* Nécessaire pour positionner l'overlay */
  width: 100%; /* Prend toute la largeur */
  height: 223px; /* Hauteur de la bannière */
  display: flex;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  border-radius: 25px;
}

.divBanner_overlay {
  position: absolute; /* Positionnement par rapport à la bannière */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fond noir avec opacité de 60% */
  z-index: 1; /* Placé derrière le contenu mais devant l'image */
  border-radius: 25px;
}

.divBanner_content {
  position: relative; /* Le contenu reste au-dessus de l'overlay */
  z-index: 2; /* Au-dessus de l'overlay */
  color: white; /* Texte blanc pour le contraste */
  text-align: center; /* Texte centré */
  font-size: 48px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black, 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.divBanner_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour un ajustement propre */
  z-index: -1; /* Place l'image derrière le contenu */
  border-radius: 25px;
}

/* Responsive styles for small devices */
@media (max-width: 767.98px) {
  .divBanner {
    height: 111px;
  }

  .divBanner_content {
    font-size: 24px;
    width: 225px;
    text-align: start;
    line-height: 24px;
  }

  .divBanner_image {
    border-radius: 10px;
  }


  .divBanner_overlay{
    border-radius: 10px;
  }
}
